# Product Bundling and Recommendation

## Product Bundling

![Example Product Bundle. Credits: Burger King](https://cxl.com/wp-content/uploads/2018/10/burger-king-bundle.png)

<p style = 'text-align: center;'>Image Credits: Burger King</p>

Product bundling refers to grouping products or services together for sale as one package, as illustrated in the image above.

In order to identify the products that are ideal for bundling, we will perform **market basket analysis** which is a data mining technique used to identify relationships between products that are frequently purchased together. In technical terms, _market basket analysis_ is **Association Rule Mining** whose goal is to identify rules that describe the likelihood of a product being purchased together with other products.

There is a number of algorithms that one can use to perform market basket analysis including:
- Apriori Algorithm
- AIS Algorithm
- SETM Algorithm
- FP Growth Algorithm

**Apriori algorithm** is a _popular_ algorithm in association rule mining and it _performs better_ than AIS and SETM algorithms. However, it is _computationally expensive_ when working on a large dataset therefore we shall use **FP Growth algorithm** which is an advancement of Apriori algorithm.

### Import Packages

In [1]:
# Module containing all libraries used
import src.dependencies as dep

# Module containing custom functions
import src.functions as fn

### Load the Dataset

The dataset is the transformed version obtained from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/dataset/502/online+retail+ii).

In [2]:
# Load data
df = dep.pd.read_csv('dataset/Transformed.csv')

# Confirm successful loading
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085,United Kingdom

### Preprocess the Data

Since the data is already transformed, we will proceed to extract the data we need to implement the FP Growth algorithm. The features of interest are:
- `Invoice`: It acts as the transaction identifier
- `StockCode`: It acts as the product identifier

In [3]:
# Get features
features_df = df[['Invoice', 'StockCode']]

# Rename them
features_df = features_df.rename(columns = {'Invoice': 'Transaction', 'StockCode': 'Products'})
features_df.head()

   Transaction Products
0       489434    85048
1       489434   79323P
2       489434   79323W
3       489434    22041
4       489434    21232

Next, we have to group the items in a transaction, as a list, figuratively, place the products in the invoice 'cart'.

In [4]:
# Group the items
transactions_df = features_df.groupby('Transaction')['Products'].apply(list).reset_index()
transactions_df.head()

   Transaction                                           Products
0       489434  [85048, 79323P, 79323W, 22041, 21232, 22064, 2...
1       489435                       [22350, 22349, 22195, 22353]
2       489436  [48173C, 21755, 21754, 84879, 22119, 22142, 22...
3       489437  [22143, 22145, 22130, 21364, 21360, 21351, 213...
4       489438  [21329, 21252, 21100, 21033, 20711, 21410, 214...

We will also convert the `Products` column into a list, making it a list of lists.

In [7]:
# Get the lists of products
transactions = transactions_df['Products'].tolist()

# Check the first 2 entries in the list
transactions[0:2]

[['85048', '79323P', '79323W', '22041', '21232', '22064', '21871', '21523'],
 ['22350', '22349', '22195', '22353']]

Finally, encode the transactions into a NumPy array.

In [8]:
# Encode
encoder = dep.TransactionEncoder()
encoded_transactions = encoder.fit(transactions).transform(transactions)

### Modeling

We will generate the frequent itemsets using `fpgrowth()` function. Since the function expects a one-hot encoded DataFrame, we will convert the encoded array into a dataframe first.

In [9]:
# Array to Dataframe
encoded_df = dep.pd.DataFrame(encoded_transactions, columns = encoder.columns_)
encoded_df.head()

,10002,10080,10109,10120,10123C,10123G,10124A,10124G,10125,10133,...,C2,CRUK,D,DOT,M,PADS,POST,SP1002,TEST001,TEST002
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

The syntax of the `fpgrowth()` function is:

**_fpgrowth(df, min_support=0.5, use_colnames=False, max_len=None, verbose=0)_**

Where:
- _df_ - One-hot encoded DataFrame, our `encoded_df` DataFrame.
- _min_support_ - A float between 0 and 1 for minimum support of the itemsets returned, with support being a fraction of the number of transactions where the item occurs divided by total transactions. The default value is 0.5, but we will set it lower, say 0.01 due to the many products.
- _use_colnames_ - It is fault by default, yielding column indices but we are interested in the products identifiers, therefore, we shall set it to true.
- _max_len_ - It refers to the maximum length of the itemsets generated. We shall leave it as it is.
- _verbose_ - It shows the stages of conditional tree generation. We shall set it to 1 to view the stages.

In [19]:
# Generate Frequent itemsets
freq_itemsets = dep.fpgrowth(encoded_df, min_support = 0.01, use_colnames = True, verbose = 1)

465 itemset(s) from tree conditioned on items ()
1 itemset(s) from tree conditioned on items (21232)
0 itemset(s) from tree conditioned on items (21523)
0 itemset(s) from tree conditioned on items (21871)
0 itemset(s) from tree conditioned on items (22064)
0 itemset(s) from tree conditioned on items (85048)
0 itemset(s) from tree conditioned on items (22195)
1 itemset(s) from tree conditioned on items (84879)
1 itemset(s) from tree conditioned on items (21754)
1 itemset(s) from tree conditioned on items (21181)
2 itemset(s) from tree conditioned on items (21755)
0 itemset(s) from tree conditioned on items (21755, 21754)
0 itemset(s) from tree conditioned on items (21755, 85123A)
0 itemset(s) from tree conditioned on items (22111)
0 itemset(s) from tree conditioned on items (22296)
0 itemset(s) from tree conditioned on items (82582)
0 itemset(s) from tree conditioned on items (22295)
0 itemset(s) from tree conditioned on items (21756)
0 itemset(s) from tree conditioned on items (48173C)
1 itemset(s) from tree conditioned on items (22112)
0 itemset(s) from tree conditioned on items (84970S)
1 itemset(s) from tree conditioned on items (20971)
0 itemset(s) from tree conditioned on items (22271)
0 itemset(s) from tree conditioned on items (21912)
0 itemset(s) from tree conditioned on items (22274)
0 itemset(s) from tree conditioned on items (21989)
0 itemset(s) from tree conditioned on items (20711)
0 itemset(s) from tree conditioned on items (21411)
0 itemset(s) from tree conditioned on items (POST)
0 itemset(s) from tree conditioned on items (22138)
1 itemset(s) from tree conditioned on items (22139)
0 itemset(s) from tree conditioned on items (21731)
0 itemset(s) from tree conditioned on items (22352)
0 itemset(s) from tree conditioned on items (85014B)
0 itemset(s) from tree conditioned on items (20749)
0 itemset(s) from tree conditioned on items (85014A)
0 itemset(s) from tree conditioned on items (22333)
0 itemset(s) from tree conditioned on items (85232B)
0 itemset(s) from tree conditioned on items (84029E)
0 itemset(s) from tree conditioned on items (85123A)
0 itemset(s) from tree conditioned on items (21790)
0 itemset(s) from tree conditioned on items (22029)
0 itemset(s) from tree conditioned on items (21888)
0 itemset(s) from tree conditioned on items (21430)
0 itemset(s) from tree conditioned on items (21955)
0 itemset(s) from tree conditioned on items (21916)
0 itemset(s) from tree conditioned on items (82580)
0 itemset(s) from tree conditioned on items (85150)
0 itemset(s) from tree conditioned on items (20754)
0 itemset(s) from tree conditioned on items (21035)
3 itemset(s) from tree conditioned on items (21929)
0 itemset(s) from tree conditioned on items (21929, 85099B)
0 itemset(s) from tree conditioned on items (21929, 22386)
0 itemset(s) from tree conditioned on items (21929, 22411)
0 itemset(s) from tree conditioned on items (22219)
0 itemset(s) from tree conditioned on items (84988)
1 itemset(s) from tree conditioned on items (85099B)
2 itemset(s) from tree conditioned on items (20725)
0 itemset(s) from tree conditioned on items (20725, 85099B)
0 itemset(s) from tree conditioned on items (20725, 85123A)
6 itemset(s) from tree conditioned on items (20728)
0 itemset(s) from tree conditioned on items (20728, 20725)
0 itemset(s) from tree conditioned on items (20728, 85099B)
2 itemset(s) from tree conditioned on items (20728, 20727)
0 itemset(s) from tree conditioned on items (20728, 20727, 20725)
0 itemset(s) from tree conditioned on items (20728, 20727, 22384)
1 itemset(s) from tree conditioned on items (20728, 22383)
1 itemset(s) from tree conditioned on items (20728, 22384)
1 itemset(s) from tree conditioned on items (20728, 22382)
0 itemset(s) from tree conditioned on items (22086)
1 itemset(s) from tree conditioned on items (21733)
6 itemset(s) from tree conditioned on items (20726)
0 itemset(s) from tree conditioned on items (20726, 20725)
1 itemset(s) from tree conditioned on items (20726, 20728)
0 itemset(s) from tree conditioned on items (20726, 20727)
1 itemset(s) from tree conditioned on items (20726, 22382)
1 itemset(s) from tree conditioned on items (20726, 22383)
1 itemset(s) from tree conditioned on items (20726, 22384)
2 itemset(s) from tree conditioned on items (20724)
0 itemset(s) from tree conditioned on items (20724, 85099B)
0 itemset(s) from tree conditioned on items (20724, 20725)
0 itemset(s) from tree conditioned on items (22178)
1 itemset(s) from tree conditioned on items (22114)
1 itemset(s) from tree conditioned on items (21485)
5 itemset(s) from tree conditioned on items (21928)
0 itemset(s) from tree conditioned on items (21928, 85099B)
0 itemset(s) from tree conditioned on items (21928, 21929)
0 itemset(s) from tree conditioned on items (21928, 85099F)
0 itemset(s) from tree conditioned on items (21928, 22386)
0 itemset(s) from tree conditioned on items (21928, 22411)
2 itemset(s) from tree conditioned on items (22356)
0 itemset(s) from tree conditioned on items (22356, 20724)
0 itemset(s) from tree conditioned on items (22356, 22355)
0 itemset(s) from tree conditioned on items (22083)
0 itemset(s) from tree conditioned on items (85066)
0 itemset(s) from tree conditioned on items (21217)
0 itemset(s) from tree conditioned on items (22294)
0 itemset(s) from tree conditioned on items (21671)
0 itemset(s) from tree conditioned on items (21592)
0 itemset(s) from tree conditioned on items (84946)
0 itemset(s) from tree conditioned on items (22090)
0 itemset(s) from tree conditioned on items (22087)
1 itemset(s) from tree conditioned on items (84991)
2 itemset(s) from tree conditioned on items (21977)
1 itemset(s) from tree conditioned on items (21977, 84991)
0 itemset(s) from tree conditioned on items (21977, 21212)
0 itemset(s) from tree conditioned on items (22273)
2 itemset(s) from tree conditioned on items (21212)
0 itemset(s) from tree conditioned on items (21212, 85099B)
0 itemset(s) from tree conditioned on items (21212, 20725)
1 itemset(s) from tree conditioned on items (82494L)
2 itemset(s) from tree conditioned on items (82486)
0 itemset(s) from tree conditioned on items (82486, 82494L)
0 itemset(s) from tree conditioned on items (82486, 82482)
3 itemset(s) from tree conditioned on items (82483)
0 itemset(s) from tree conditioned on items (82483, 82486)
0 itemset(s) from tree conditioned on items (82483, 82494L)
0 itemset(s) from tree conditioned on items (82483, 82482)
0 itemset(s) from tree conditioned on items (21669)
0 itemset(s) from tree conditioned on items (21672)
0 itemset(s) from tree conditioned on items (21668)
0 itemset(s) from tree conditioned on items (21670)
0 itemset(s) from tree conditioned on items (21673)
0 itemset(s) from tree conditioned on items (21481)
0 itemset(s) from tree conditioned on items (48185)
0 itemset(s) from tree conditioned on items (72760B)
0 itemset(s) from tree conditioned on items (22149)
1 itemset(s) from tree conditioned on items (21231)
0 itemset(s) from tree conditioned on items (20972)
2 itemset(s) from tree conditioned on items (21930)
0 itemset(s) from tree conditioned on items (21930, 85099B)
0 itemset(s) from tree conditioned on items (21930, 21931)
0 itemset(s) from tree conditioned on items (84997D)
2 itemset(s) from tree conditioned on items (84997C)
0 itemset(s) from tree conditioned on items (84997C, 84997D)
0 itemset(s) from tree conditioned on items (84997C, 84997B)
0 itemset(s) from tree conditioned on items (21484)
0 itemset(s) from tree conditioned on items (20970)
0 itemset(s) from tree conditioned on items (22301)
0 itemset(s) from tree conditioned on items (21533)
0 itemset(s) from tree conditioned on items (21479)
0 itemset(s) from tree conditioned on items (47566B)
2 itemset(s) from tree conditioned on items (20719)
0 itemset(s) from tree conditioned on items (20719, 20724)
0 itemset(s) from tree conditioned on items (20719, 22355)
1 itemset(s) from tree conditioned on items (21791)
0 itemset(s) from tree conditioned on items (47591D)
0 itemset(s) from tree conditioned on items (71477)
0 itemset(s) from tree conditioned on items (82551)
0 itemset(s) from tree conditioned on items (84997A)
0 itemset(s) from tree conditioned on items (37449)
4 itemset(s) from tree conditioned on items (21931)
0 itemset(s) from tree conditioned on items (21931, 85099B)
0 itemset(s) from tree conditioned on items (21931, 20725)
0 itemset(s) from tree conditioned on items (21931, 22383)
0 itemset(s) from tree conditioned on items (21931, 22386)
1 itemset(s) from tree conditioned on items (84997B)
0 itemset(s) from tree conditioned on items (20675)
2 itemset(s) from tree conditioned on items (85152)
0 itemset(s) from tree conditioned on items (85152, 21181)
0 itemset(s) from tree conditioned on items (85152, 21175)
0 itemset(s) from tree conditioned on items (21908)
0 itemset(s) from tree conditioned on items (84949)
0 itemset(s) from tree conditioned on items (21326)
0 itemset(s) from tree conditioned on items (20982)
1 itemset(s) from tree conditioned on items (84836)
0 itemset(s) from tree conditioned on items (48187)
0 itemset(s) from tree conditioned on items (82600)
0 itemset(s) from tree conditioned on items (72741)
0 itemset(s) from tree conditioned on items (22082)
0 itemset(s) from tree conditioned on items (21172)
0 itemset(s) from tree conditioned on items (22212)
0 itemset(s) from tree conditioned on items (20828)
0 itemset(s) from tree conditioned on items (22197)
0 itemset(s) from tree conditioned on items (20685)
1 itemset(s) from tree conditioned on items (21175)
0 itemset(s) from tree conditioned on items (22077)

3 itemset(s) from tree conditioned on items (21166)
0 itemset(s) from tree conditioned on items (21166, 21175)
0 itemset(s) from tree conditioned on items (21166, 21181)
0 itemset(s) from tree conditioned on items (21166, 85152)
0 itemset(s) from tree conditioned on items (48194)
0 itemset(s) from tree conditioned on items (22113)
0 itemset(s) from tree conditioned on items (21889)
0 itemset(s) from tree conditioned on items (21174)
0 itemset(s) from tree conditioned on items (84029G)
0 itemset(s) from tree conditioned on items (21868)
0 itemset(s) from tree conditioned on items (20676)
0 itemset(s) from tree conditioned on items (21238)
1 itemset(s) from tree conditioned on items (21136)
1 itemset(s) from tree conditioned on items (21094)
0 itemset(s) from tree conditioned on items (85049E)
1 itemset(s) from tree conditioned on items (21086)
0 itemset(s) from tree conditioned on items (48111)
0 itemset(s) from tree conditioned on items (21240)
0 itemset(s) from tree conditioned on items (85049A)
0 itemset(s) from tree conditioned on items (21239)
0 itemset(s) from tree conditioned on items (21870)
0 itemset(s) from tree conditioned on items (20677)
0 itemset(s) from tree conditioned on items (22303)
0 itemset(s) from tree conditioned on items (20914)
0 itemset(s) from tree conditioned on items (21535)
0 itemset(s) from tree conditioned on items (15056N)
0 itemset(s) from tree conditioned on items (20718)
0 itemset(s) from tree conditioned on items (21527)
0 itemset(s) from tree conditioned on items (21498)
0 itemset(s) from tree conditioned on items (15056BL)
0 itemset(s) from tree conditioned on items (21976)
0 itemset(s) from tree conditioned on items (21539)
0 itemset(s) from tree conditioned on items (21531)
0 itemset(s) from tree conditioned on items (21242)
0 itemset(s) from tree conditioned on items (20682)
0 itemset(s) from tree conditioned on items (21429)
0 itemset(s) from tree conditioned on items (21122)
0 itemset(s) from tree conditioned on items (22030)
1 itemset(s) from tree conditioned on items (21124)
0 itemset(s) from tree conditioned on items (84520B)
0 itemset(s) from tree conditioned on items (48129)
0 itemset(s) from tree conditioned on items (21500)
0 itemset(s) from tree conditioned on items (22037)
0 itemset(s) from tree conditioned on items (21034)
0 itemset(s) from tree conditioned on items (21985)
0 itemset(s) from tree conditioned on items (21980)
0 itemset(s) from tree conditioned on items (84347)
0 itemset(s) from tree conditioned on items (85049C)
2 itemset(s) from tree conditioned on items (20727)
0 itemset(s) from tree conditioned on items (20727, 85099B)
0 itemset(s) from tree conditioned on items (20727, 20725)
1 itemset(s) from tree conditioned on items (22355)
1 itemset(s) from tree conditioned on items (22189)
0 itemset(s) from tree conditioned on items (22147)
1 itemset(s) from tree conditioned on items (20712)
1 itemset(s) from tree conditioned on items (20713)
0 itemset(s) from tree conditioned on items (22150)
0 itemset(s) from tree conditioned on items (20975)
0 itemset(s) from tree conditioned on items (84375)
0 itemset(s) from tree conditioned on items (21892)
0 itemset(s) from tree conditioned on items (21918)
0 itemset(s) from tree conditioned on items (48184)
0 itemset(s) from tree conditioned on items (48188)
0 itemset(s) from tree conditioned on items (20969)
1 itemset(s) from tree conditioned on items (21080)
0 itemset(s) from tree conditioned on items (22079)
0 itemset(s) from tree conditioned on items (22169)
0 itemset(s) from tree conditioned on items (22196)
0 itemset(s) from tree conditioned on items (84050)
0 itemset(s) from tree conditioned on items (37503)
5 itemset(s) from tree conditioned on items (85099C)
0 itemset(s) from tree conditioned on items (85099C, 85099B)
0 itemset(s) from tree conditioned on items (85099C, 21931)
0 itemset(s) from tree conditioned on items (85099C, 85099F)
0 itemset(s) from tree conditioned on items (85099C, 22386)
0 itemset(s) from tree conditioned on items (85099C, 22411)
0 itemset(s) from tree conditioned on items (22348)
0 itemset(s) from tree conditioned on items (21770)
0 itemset(s) from tree conditioned on items (85049G)
0 itemset(s) from tree conditioned on items (21900)
0 itemset(s) from tree conditioned on items (21901)
0 itemset(s) from tree conditioned on items (21260)
2 itemset(s) from tree conditioned on items (82482)
0 itemset(s) from tree conditioned on items (82482, 85123A)
0 itemset(s) from tree conditioned on items (82482, 82494L)
0 itemset(s) from tree conditioned on items (21621)
0 itemset(s) from tree conditioned on items (20750)
0 itemset(s) from tree conditioned on items (20974)
0 itemset(s) from tree conditioned on items (21622)
0 itemset(s) from tree conditioned on items (20983)
0 itemset(s) from tree conditioned on items (20979)
0 itemset(s) from tree conditioned on items (21114)
0 itemset(s) from tree conditioned on items (21210)
0 itemset(s) from tree conditioned on items (21891)
0 itemset(s) from tree conditioned on items (84077)
0 itemset(s) from tree conditioned on items (47566)
0 itemset(s) from tree conditioned on items (22151)
0 itemset(s) from tree conditioned on items (21156)
3 itemset(s) from tree conditioned on items (84992)
0 itemset(s) from tree conditioned on items (84992, 21212)
0 itemset(s) from tree conditioned on items (84992, 84991)
0 itemset(s) from tree conditioned on items (84992, 21977)
0 itemset(s) from tree conditioned on items (21218)
0 itemset(s) from tree conditioned on items (22297)
0 itemset(s) from tree conditioned on items (21524)
0 itemset(s) from tree conditioned on items (21314)
0 itemset(s) from tree conditioned on items (22027)
0 itemset(s) from tree conditioned on items (22088)
0 itemset(s) from tree conditioned on items (21745)
3 itemset(s) from tree conditioned on items (85099F)
0 itemset(s) from tree conditioned on items (85099F, 85099B)
0 itemset(s) from tree conditioned on items (85099F, 21931)
1 itemset(s) from tree conditioned on items (85099F, 22386)
0 itemset(s) from tree conditioned on items (21385)
0 itemset(s) from tree conditioned on items (21155)
0 itemset(s) from tree conditioned on items (21216)
0 itemset(s) from tree conditioned on items (21499)
2 itemset(s) from tree conditioned on items (21213)
0 itemset(s) from tree conditioned on items (21213, 21212)
0 itemset(s) from tree conditioned on items (21213, 84991)
3 itemset(s) from tree conditioned on items (21975)
0 itemset(s) from tree conditioned on items (21975, 21212)
0 itemset(s) from tree conditioned on items (21975, 84991)
0 itemset(s) from tree conditioned on items (21975, 21977)
0 itemset(s) from tree conditioned on items (84755)
1 itemset(s) from tree conditioned on items (84970L)
0 itemset(s) from tree conditioned on items (22171)
0 itemset(s) from tree conditioned on items (84596B)
0 itemset(s) from tree conditioned on items (22131)
0 itemset(s) from tree conditioned on items (22055)
0 itemset(s) from tree conditioned on items (37448)
0 itemset(s) from tree conditioned on items (21121)
0 itemset(s) from tree conditioned on items (21843)
0 itemset(s) from tree conditioned on items (21165)
0 itemset(s) from tree conditioned on items (21877)
0 itemset(s) from tree conditioned on items (21164)
0 itemset(s) from tree conditioned on items (21497)
0 itemset(s) from tree conditioned on items (84378)
0 itemset(s) from tree conditioned on items (84380)
0 itemset(s) from tree conditioned on items (22144)
0 itemset(s) from tree conditioned on items (15036)
3 itemset(s) from tree conditioned on items (20723)
0 itemset(s) from tree conditioned on items (20723, 20724)
0 itemset(s) from tree conditioned on items (20723, 22356)
0 itemset(s) from tree conditioned on items (20723, 22355)
0 itemset(s) from tree conditioned on items (82583)
1 itemset(s) from tree conditioned on items (82581)
0 itemset(s) from tree conditioned on items (84406B)
0 itemset(s) from tree conditioned on items (22173)
0 itemset(s) from tree conditioned on items (84987)
0 itemset(s) from tree conditioned on items (82578)
0 itemset(s) from tree conditioned on items (M)
0 itemset(s) from tree conditioned on items (20679)
0 itemset(s) from tree conditioned on items (22191)
0 itemset(s) from tree conditioned on items (22193)
0 itemset(s) from tree conditioned on items (22192)
0 itemset(s) from tree conditioned on items (21137)
0 itemset(s) from tree conditioned on items (84947)
0 itemset(s) from tree conditioned on items (71459)
0 itemset(s) from tree conditioned on items (21259)
0 itemset(s) from tree conditioned on items (21154)
0 itemset(s) from tree conditioned on items (84692)
0 itemset(s) from tree conditioned on items (21703)
0 itemset(s) from tree conditioned on items (21558)
0 itemset(s) from tree conditioned on items (22198)
0 itemset(s) from tree conditioned on items (21078)
0 itemset(s) from tree conditioned on items (21932)
0 itemset(s) from tree conditioned on items (21933)
0 itemset(s) from tree conditioned on items (21935)
0 itemset(s) from tree conditioned on items (82552)
0 itemset(s) from tree conditioned on items (79321)
0 itemset(s) from tree conditioned on items (71053)

0 itemset(s) from tree conditioned on items (21507)
0 itemset(s) from tree conditioned on items (21559)
0 itemset(s) from tree conditioned on items (47590A)
0 itemset(s) from tree conditioned on items (21937)
0 itemset(s) from tree conditioned on items (22084)
0 itemset(s) from tree conditioned on items (22170)
0 itemset(s) from tree conditioned on items (22061)
0 itemset(s) from tree conditioned on items (21390)
0 itemset(s) from tree conditioned on items (21704)
0 itemset(s) from tree conditioned on items (21874)
0 itemset(s) from tree conditioned on items (21380)
0 itemset(s) from tree conditioned on items (21914)
0 itemset(s) from tree conditioned on items (21936)
0 itemset(s) from tree conditioned on items (21509)
0 itemset(s) from tree conditioned on items (21506)
0 itemset(s) from tree conditioned on items (21899)
0 itemset(s) from tree conditioned on items (22158)
0 itemset(s) from tree conditioned on items (22045)
0 itemset(s) from tree conditioned on items (84945)
0 itemset(s) from tree conditioned on items (20717)
0 itemset(s) from tree conditioned on items (21974)
0 itemset(s) from tree conditioned on items (21915)
0 itemset(s) from tree conditioned on items (84978)
0 itemset(s) from tree conditioned on items (20973)
0 itemset(s) from tree conditioned on items (47590B)
0 itemset(s) from tree conditioned on items (82484)
0 itemset(s) from tree conditioned on items (47559B)
0 itemset(s) from tree conditioned on items (48138)
0 itemset(s) from tree conditioned on items (22188)
0 itemset(s) from tree conditioned on items (22326)
1 itemset(s) from tree conditioned on items (22328)
0 itemset(s) from tree conditioned on items (22367)
0 itemset(s) from tree conditioned on items (22327)
0 itemset(s) from tree conditioned on items (35970)
3 itemset(s) from tree conditioned on items (22383)
0 itemset(s) from tree conditioned on items (22383, 20725)
0 itemset(s) from tree conditioned on items (22383, 85099B)
1 itemset(s) from tree conditioned on items (22383, 20727)
3 itemset(s) from tree conditioned on items (22382)
0 itemset(s) from tree conditioned on items (22382, 22383)
1 itemset(s) from tree conditioned on items (22382, 20725)
2 itemset(s) from tree conditioned on items (22382, 20727)
0 itemset(s) from tree conditioned on items (22382, 20727, 20725)
0 itemset(s) from tree conditioned on items (22382, 20727, 22383)
0 itemset(s) from tree conditioned on items (22380)
0 itemset(s) from tree conditioned on items (21623)
0 itemset(s) from tree conditioned on items (22381)
5 itemset(s) from tree conditioned on items (22384)
0 itemset(s) from tree conditioned on items (22384, 20725)
1 itemset(s) from tree conditioned on items (22384, 20727)
2 itemset(s) from tree conditioned on items (22384, 22383)
0 itemset(s) from tree conditioned on items (22384, 22383, 20725)
0 itemset(s) from tree conditioned on items (22384, 22383, 20727)
1 itemset(s) from tree conditioned on items (22384, 22382)
0 itemset(s) from tree conditioned on items (22384, 85099B)
0 itemset(s) from tree conditioned on items (22379)
0 itemset(s) from tree conditioned on items (21907)
0 itemset(s) from tree conditioned on items (21169)
3 itemset(s) from tree conditioned on items (22386)
0 itemset(s) from tree conditioned on items (22386, 85099B)
0 itemset(s) from tree conditioned on items (22386, 20725)
0 itemset(s) from tree conditioned on items (22386, 22384)
2 itemset(s) from tree conditioned on items (22385)
0 itemset(s) from tree conditioned on items (22385, 22386)
0 itemset(s) from tree conditioned on items (22385, 85099B)
3 itemset(s) from tree conditioned on items (22411)
0 itemset(s) from tree conditioned on items (22411, 21931)
0 itemset(s) from tree conditioned on items (22411, 22386)
0 itemset(s) from tree conditioned on items (22411, 85099B)
0 itemset(s) from tree conditioned on items (22413)
1 itemset(s) from tree conditioned on items (22417)
0 itemset(s) from tree conditioned on items (22499)
0 itemset(s) from tree conditioned on items (22371)
0 itemset(s) from tree conditioned on items (22431)
0 itemset(s) from tree conditioned on items (22489)
1 itemset(s) from tree conditioned on items (22457)
0 itemset(s) from tree conditioned on items (22456)
0 itemset(s) from tree conditioned on items (22467)
0 itemset(s) from tree conditioned on items (22464)
0 itemset(s) from tree conditioned on items (22488)
0 itemset(s) from tree conditioned on items (22487)
0 itemset(s) from tree conditioned on items (22568)
0 itemset(s) from tree conditioned on items (22569)
0 itemset(s) from tree conditioned on items (22570)
0 itemset(s) from tree conditioned on items (22585)
0 itemset(s) from tree conditioned on items (22584)
0 itemset(s) from tree conditioned on items (22505)
0 itemset(s) from tree conditioned on items (22508)
0 itemset(s) from tree conditioned on items (22507)
0 itemset(s) from tree conditioned on items (21982)
0 itemset(s) from tree conditioned on items (22659)
0 itemset(s) from tree conditioned on items (22631)
1 itemset(s) from tree conditioned on items (22617)
1 itemset(s) from tree conditioned on items (22423)
0 itemset(s) from tree conditioned on items (22429)
0 itemset(s) from tree conditioned on items (22563)
0 itemset(s) from tree conditioned on items (22561)
1 itemset(s) from tree conditioned on items (22556)
1 itemset(s) from tree conditioned on items (22555)
0 itemset(s) from tree conditioned on items (22551)
0 itemset(s) from tree conditioned on items (22560)
2 itemset(s) from tree conditioned on items (22554)
0 itemset(s) from tree conditioned on items (22554, 22551)
0 itemset(s) from tree conditioned on items (22554, 22556)
0 itemset(s) from tree conditioned on items (22557)
0 itemset(s) from tree conditioned on items (22553)
0 itemset(s) from tree conditioned on items (22549)
0 itemset(s) from tree conditioned on items (22528)
0 itemset(s) from tree conditioned on items (22534)
0 itemset(s) from tree conditioned on items (22435)
0 itemset(s) from tree conditioned on items (22607)
0 itemset(s) from tree conditioned on items (22605)
0 itemset(s) from tree conditioned on items (22558)
1 itemset(s) from tree conditioned on items (22469)
2 itemset(s) from tree conditioned on items (22470)
0 itemset(s) from tree conditioned on items (22470, 22469)
0 itemset(s) from tree conditioned on items (22470, 85123A)
0 itemset(s) from tree conditioned on items (22625)
0 itemset(s) from tree conditioned on items (22627)
0 itemset(s) from tree conditioned on items (22624)
0 itemset(s) from tree conditioned on items (22492)
0 itemset(s) from tree conditioned on items (22616)
0 itemset(s) from tree conditioned on items (22418)
0 itemset(s) from tree conditioned on items (22621)
0 itemset(s) from tree conditioned on items (22623)
0 itemset(s) from tree conditioned on items (22619)
0 itemset(s) from tree conditioned on items (22622)
0 itemset(s) from tree conditioned on items (22620)
0 itemset(s) from tree conditioned on items (22427)
0 itemset(s) from tree conditioned on items (22646)
0 itemset(s) from tree conditioned on items (22645)
0 itemset(s) from tree conditioned on items (22644)
0 itemset(s) from tree conditioned on items (22649)
0 itemset(s) from tree conditioned on items (22424)
0 itemset(s) from tree conditioned on items (22634)
0 itemset(s) from tree conditioned on items (22635)
0 itemset(s) from tree conditioned on items (22637)
0 itemset(s) from tree conditioned on items (22636)
0 itemset(s) from tree conditioned on items (22501)
0 itemset(s) from tree conditioned on items (22502)
0 itemset(s) from tree conditioned on items (22692)
0 itemset(s) from tree conditioned on items (22629)
1 itemset(s) from tree conditioned on items (22630)
0 itemset(s) from tree conditioned on items (22666)
0 itemset(s) from tree conditioned on items (22667)
0 itemset(s) from tree conditioned on items (22665)
0 itemset(s) from tree conditioned on items (22595)
0 itemset(s) from tree conditioned on items (22577)
1 itemset(s) from tree conditioned on items (22578)
0 itemset(s) from tree conditioned on items (22579)
0 itemset(s) from tree conditioned on items (22652)
0 itemset(s) from tree conditioned on items (22654)
1 itemset(s) from tree conditioned on items (22662)
0 itemset(s) from tree conditioned on items (22661)
0 itemset(s) from tree conditioned on items (22663)
0 itemset(s) from tree conditioned on items (22961)
0 itemset(s) from tree conditioned on items (22694)
0 itemset(s) from tree conditioned on items (22759)
0 itemset(s) from tree conditioned on items (22752)
1 itemset(s) from tree conditioned on items (22699)
2 itemset(s) from tree conditioned on items (22697)
0 itemset(s) from tree conditioned on items (22697, 22699)
1 itemset(s) from tree conditioned on items (22697, 22423)
2 itemset(s) from tree conditioned on items (22698)
0 itemset(s) from tree conditioned on items (22698, 22697)
1 itemset(s) from tree conditioned on items (22698, 22699)
0 itemset(s) from tree conditioned on items (22851)
0 itemset(s) from tree conditioned on items (22750)
0 itemset(s) from tree conditioned on items (22940)
0 itemset(s) from tree conditioned on items (22749)
0 itemset(s) from tree conditioned on items (22865)
1 itemset(s) from tree conditioned on items (22866)
2 itemset(s) from tree conditioned on items (22867)
0 itemset(s) from tree conditioned on items (22867, 22865)
0 itemset(s) from tree conditioned on items (22867, 22866)
0 itemset(s) from tree conditioned on items (22834)
1 itemset(s) from tree conditioned on items (22835)
0 itemset(s) from tree conditioned on items (22734)
0 itemset(s) from tree conditioned on items (22907)

0 itemset(s) from tree conditioned on items (22909)
0 itemset(s) from tree conditioned on items (22952)
1 itemset(s) from tree conditioned on items (22910)
0 itemset(s) from tree conditioned on items (22951)
0 itemset(s) from tree conditioned on items (22632)
0 itemset(s) from tree conditioned on items (22804)
0 itemset(s) from tree conditioned on items (22727)
1 itemset(s) from tree conditioned on items (22726)
0 itemset(s) from tree conditioned on items (22729)
0 itemset(s) from tree conditioned on items (22730)
1 itemset(s) from tree conditioned on items (22728)
0 itemset(s) from tree conditioned on items (22748)
1 itemset(s) from tree conditioned on items (22745)
0 itemset(s) from tree conditioned on items (22746)
0 itemset(s) from tree conditioned on items (22900)
0 itemset(s) from tree conditioned on items (22633)
0 itemset(s) from tree conditioned on items (22766)
0 itemset(s) from tree conditioned on items (22847)
0 itemset(s) from tree conditioned on items (22776)
0 itemset(s) from tree conditioned on items (22966)
0 itemset(s) from tree conditioned on items (22722)
0 itemset(s) from tree conditioned on items (22969)
0 itemset(s) from tree conditioned on items (22960)
0 itemset(s) from tree conditioned on items (22720)
0 itemset(s) from tree conditioned on items (22993)
0 itemset(s) from tree conditioned on items (23206)
0 itemset(s) from tree conditioned on items (23201)
0 itemset(s) from tree conditioned on items (23199)
0 itemset(s) from tree conditioned on items (23207)
0 itemset(s) from tree conditioned on items (23208)
0 itemset(s) from tree conditioned on items (23284)
0 itemset(s) from tree conditioned on items (23298)
0 itemset(s) from tree conditioned on items (23209)
0 itemset(s) from tree conditioned on items (23200)
1 itemset(s) from tree conditioned on items (23203)
0 itemset(s) from tree conditioned on items (23202)
0 itemset(s) from tree conditioned on items (23084)
0 itemset(s) from tree conditioned on items (23301)
1 itemset(s) from tree conditioned on items (23300)
0 itemset(s) from tree conditioned on items (23307)
0 itemset(s) from tree conditioned on items (23240)
0 itemset(s) from tree conditioned on items (23245)
0 itemset(s) from tree conditioned on items (23321)
0 itemset(s) from tree conditioned on items (23322)
0 itemset(s) from tree conditioned on items (23344)
0 itemset(s) from tree conditioned on items (23293)
0 itemset(s) from tree conditioned on items (23356)
0 itemset(s) from tree conditioned on items (23355)

In [17]:
freq_itemsets

     support         itemsets
0   0.046261          (21232)
1   0.059475          (84879)
2   0.041225          (21754)
3   0.034874          (21181)
4   0.033381          (21755)
..       ...              ...
78  0.025203          (22699)
79  0.027855          (22910)
80  0.026206          (22727)
81  0.027141          (22720)
82  0.026027  (85123A, 21733)

[83 rows x 2 columns]

In [12]:
help(dep.fpgrowth)

Help on function fpgrowth in module mlxtend.frequent_patterns.fpgrowth:

fpgrowth(df, min_support=0.5, use_colnames=False, max_len=None, verbose=0)
    Get frequent itemsets from a one-hot DataFrame

    Parameters
    -----------
    df : pandas DataFrame
      pandas DataFrame the encoded format. Also supports
      DataFrames with sparse data; for more info, please
      see https://pandas.pydata.org/pandas-docs/stable/user_guide/sparse.html#sparse-data-structures.

      Please note that the old pandas SparseDataFrame format
      is no longer supported in mlxtend >= 0.17.2.

      The allowed values are either 0/1 or True/False.
      For example,

    ```
           Apple  Bananas   Beer  Chicken   Milk   Rice
        0   True    False   True     True  False   True
        1   True    False   True    False  False   True
        2   True    False   True    False  False  False
        3   True     True  False    False  False  False
        4  False    False   True     True   True   True
        5  False    False   True    False   True   True
        6  False    False   True    False   True  False
        7   True     True  False    False  False  False
    ```

    min_support : float (default: 0.5)
      A float between 0 and 1 for minimum support of the itemsets returned.
      The support is computed as the fraction
      transactions_where_item(s)_occur / total_transactions.

    use_colnames : bool (default: False)
      If true, uses the DataFrames' column names in the returned DataFrame
      instead of column indices.

    max_len : int (default: None)
      Maximum length of the itemsets generated. If `None` (default) all
      possible itemsets lengths are evaluated.

    verbose : int (default: 0)
      Shows the stages of conditional tree generation.

    Returns
    -----------
    pandas DataFrame with columns ['support', 'itemsets'] of all itemsets
      that are >= `min_support` and < than `max_len`
      (if `max_len` is not None).
      Each itemset in the 'itemsets' column is of type `frozenset`,
      which is a Python built-in type that behaves similarly to
      sets except that it is immutable
      (For more info, see
      https://docs.python.org/3.6/library/stdtypes.html#frozenset).

    Examples
    ----------
    For usage examples, please see
    http://rasbt.github.io/mlxtend/user_guide/frequent_patterns/fpgrowth/

## References

- [Apriori Algorithm in Machine Learning](https://www.javatpoint.com/apriori-algorithm-in-machine-learning)
- [FP Growth Algorithm Explained With Numerical Example](https://codinginfinite.com/fp-growth-algorithm-explained-with-numerical-example/)
- [Implement FP Growth Algorithm in Python](https://codinginfinite.com/implement-fp-growth-algorithm-in-python/)
- [Introduction to Apriori Algorithm in Python](https://intellipaat.com/blog/data-science-apriori-algorithm/)
- [Market Basket Analysis: A Comprehensive Guide for Businesses](https://www.analyticsvidhya.com/blog/2021/10/a-comprehensive-guide-on-market-basket-analysis/)
- [Product Sales Analysis Using Python](https://medium.com/swlh/product-sales-analysis-using-python-863b29026957)